@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Mulish';
	src: url('/fonts/mulish.ttf');
}

@layer base {
	p,
	li,
	a {
		@apply text-lg leading-loose;
	}

	h2 {
		@apply text-4xl sm:text-5xl font-extrabold;
	}

	h3 {
		@apply text-2xl sm:text-3xl font-extrabold;
	}
}
